<!-- head_login -->
	<head>
		<meta charset="<%= settings.charset %>">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<title><%= config.title %></title>
		<link rel="stylesheet" href="/css/jquery-ui.css">
		<link rel="stylesheet" href="/css/all.css"> <!-- font awesome -->
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/login.css">

		<script src="/lib/jquery.js" type="text/javascript" ></script>
		<script src="/lib/jquery-ui.js" type="text/javascript" ></script>

		<script src="/javascripts/cablix_0_const.js" type="text/javascript" ></script>
		<script src="/javascripts/cablix_00.js" type="text/javascript" ></script>
		<script src="/javascripts/cablix_6_selfservice.js" type="text/javascript" ></script>
		
	</head>
