<li><img src="/img/corner.gif" > corner.gif </li>
<li><img src="/img/duplex-lc-g.png" > duplex-lc-g.png </li>
<li><img src="/img/duplex-lc-gr.png" > duplex-lc-gr.png </li>
<li><img src="/img/duplex-lc-r.png" > duplex-lc-r.png </li>
<li><img src="/img/duplex-lc-sm-g.png" > duplex-lc-sm-g.png </li>
<li><img src="/img/duplex-lc-sm-gr.png" > duplex-lc-sm-gr.png </li>
<li><img src="/img/duplex-lc-sm-r.png" > duplex-lc-sm-r.png </li>
<li><img src="/img/duplex-lc-sm-y.png" > duplex-lc-sm-y.png </li>
<li><img src="/img/duplex-lc-y.png" > duplex-lc-y.png </li>
<li><img src="/img/duplex-sc-g.png" > duplex-sc-g.png </li>
<li><img src="/img/duplex-sc-gr.png" > duplex-sc-gr.png </li>
<li><img src="/img/duplex-sc-r.png" > duplex-sc-r.png </li>
<li><img src="/img/duplex-sc-y.png" > duplex-sc-y.png </li>
<li><img src="/img/file.gif" > file.gif </li>
<li><img src="/img/folder.gif" > folder.gif </li>
<li><img src="/img/minus.gif" > minus.gif </li>
<li><img src="/img/plus.gif" > plus.gif </li>
<li><img src="/img/rj45u-g.png" > rj45u-g.png </li>
<li><img src="/img/rj45u-gr.png" > rj45u-gr.png </li>
<li><img src="/img/rj45u-r.png" > rj45u-r.png </li>
<li><img src="/img/rj45u-y.png" > rj45u-y.png </li>
<li><img src="/img/scsm-g.png" > scsm-g.png </li>
<li><img src="/img/scsm-gr.png" > scsm-gr.png </li>
<li><img src="/img/scsm-r.png" > scsm-r.png </li>
<li><img src="/img/SFP-g.png" > SFP-g.png </li>
<li><img src="/img/SFP-gr.png" > SFP-gr.png </li>
<li><img src="/img/SFPP-g.png" > SFPP-g.png </li>
<li><img src="/img/SFPP-gr.png" > SFPP-gr.png </li>
<li><img src="/img/SFPP-r.png" > SFPP-r.png </li>
<li><img src="/img/SFPP-y.png" > SFPP-y.png </li>
<li><img src="/img/SFP-r.png" > SFP-r.png </li>
<li><img src="/img/SFP-y.png" > SFP-y.png </li>
<li><img src="/img/smlc-g.png" > smlc-g.png </li>
<li><img src="/img/smlc-gr.png" > smlc-gr.png </li>
<li><img src="/img/smlc-r.png" > smlc-r.png </li>
<li><img src="/img/smlc-y.png" > smlc-y.png </li>
<li><img src="/img/vdot.gif" > vdot.gif </li>