<div id="dialog-change-password" class="dialog-change-password" title="Change Your Password">
<form method="post" name="form-change-password" id="form-change-password">
<input type="hidden" name="username" id="username" size="30" autofocus value="" />
<label for="password">Old Password:</label>
<input type="password" name="currentPassword" autocomplete="current-password" id="currentPassword">
<hr>
<label for="newPassword1">New Password:</label>
<input type="password" name="newPassword1" autocomplete="new-password" id="newPassword1">
<label for="newPassword2">Repeat Password:</label>
<input type="password" name="newPassword2" autocomplete="new-password" id="newPassword2">
</form>
</div>