<div id="dialog-add-dataset" title="Add Dataset">
<form method="post" name="form-add-dataset" id="form-add-dataset">
<label for="password">Dataset Name:</label>
<input type="text" name="dataset" id="dataset">
</form>
</div>