<div id="dialog-form-adder" class="dialog-form-adder" title="Add Dataset">
<form method="post" name="form-form-adder" id="form-form-adder">
<label for="adderAuthCode">Authorization code:</label>
<input type="text" name="adderAuthCode" id="adderAuthCode" size="37">
</form>
</div>