<div id="dialog-form-element" class="dialog-form-element" title="Edit element">
<form method="post" name="form-edit-element" id="formEditElement">
<div id="formElementContainer">
</div>
</form>
</div>