<div id="dialog-form-element" title="Add element">
<form method="post" name="form-add-element" id="form-add-element">
<p id="addeletit">Add Element to: </p>
<select id="eleType" name="type">
<option value="" selected>Select</option>
</select>
<label for="lName">Local Name:</label>
<input id="lName" name="lName" />
<label for="lid">Local Id:</label>
<input id="Flid" name="lid" />

<div id="formSite" class="formHidden">
<label for="country">country:</label><input id="country" name="country" />
<label for="City">City:</label><input id="City" name="City" />
<label for="address1">address1:</label><input id="address1" name="address1" />
<label for="address2">address2:</label><input id="address2" name="address2" />
</div>
<div id="formBuild"class="formHidden">
<p>Build</p>
</div>
<div id="formFloor" class="formHidden">
<p>Floor</p>
</div>
<div id="formZone" class="formHidden">
<p>Zone</p>
</div>
<div id="formRack" class="formHidden">
<p>Rack</p>
<label for="hightUnit">hightUnit:</label> <input id="hightUnit" name="hightUnit" class="xa xa-selecter xa-placeholder" placeholder="6;8;12;20;22;24;38;40;42;44"/>
</div>
<div id="formElement" class="formHidden">
<p>Element</p>
<label for="elementType">elementType:</label> <input id="elementType" name="elementType" class="xa xa-selecter xa-placeholder" placeholder=" eletypes toFix" />
<label for="position">position:</label><input id="position" name="position" />
</div>
<div id="formCommon" class="formHidden">
<label for="front_back">front_back:</label><input id="front_back" name="front_back" class="xa xa-selecter xa-placeholder" placeholder="F;R" />
</div>
</form>
</div>