<div id="dialog-change-password" class="dialog-change-password" title="Change Your Password">
<form method="post" name="form-change-password" id="form-change-password">
<label for="password">Old Password:</label>
<input type="password" name="OldPassword" id="OldPassword">
<hr>
<label for="newPassword1">New Password:</label>
<input type="password" name="newPassword1" id="newPassword1">
<label for="newPassword2">Repeat Password:</label>
<input type="password" name="newPassword2" id="newPassword2">
</form>
</div>