<div id="dialog-add-user" title="Add username">
<form method="post" name="form-add-user" id="form-add-user">
<label for="username">NOT IN USE!!!! Username:</label>
<input name="username" class="myinput" id="addUsername">
<label for="password">Password:</label>
<input type="password" class="myinput" name="password" id="password">
<label for="info">Infos:</label>
<input  name="password" class="myinput" size="50" id="info">
</form>
</div>