<!DOCTYPE html>
<html lang="en">
	<% include layouts/head_login.ejs %>
	<body>
		<div id="container" class="container">
			<div id="head1">
				| <a href="https://www.cablix.it/">Home</a> 
				| <a class="top_command" id="access_cablix" href="#">Cablix</a> 
				| <a class="top_command" id="logout_cablix" href="#">Logout</a> 
				| <a class="top_commandx" id="password_change" href="#" >Password Change</a> 
				| <a class="top_commandx edit_mode" id="edit_mode" href="#"><span class="ui-icon ui-icon-pencil"></a>
				| <input size="8" class="top_commandx job_id" id="job_id" name="job_id" value="" placeholder="job id" >
				|### <%= config.appname %> <%= config.version %> ###
				| <a href="https://support.cablix.it/" target="support_cablix_it">Support</a>&nbsp;
				| <a id="clasx" href="#">classes</a> 
				| <span id="message" class="MsgSpace"></span>
			</div>
		</div>
		<!-- <br> -->
		<div id="page" class="MainPage"></div>
		<% include Form.licenseAdder.ejs %>
		<% include Form.password.ejs %>
		<% include Form.Edit.Element.ejs %>
		<% include Form.AddPatch.ejs %>
		<% include Form.Login.ejs %>
		<% include pannel.loggedin.ejs %>		
	</body>
</html>
