<!DOCTYPE html>
<html lang="en">
	<% include layouts/head_plain.ejs %>
	<body>
		<a href="/">back</a>
		<div id="container" class="container">
			<h3>Missing</h3>
			<ol>
				<li>fallisce nella cancellazione black pannel (e possibilmente degli altri pannelli)</li>
				<li>Fallisce modifica nome/modello di elemento Rack</li>
				<li>Fragile ?</li>
			</ol>
			<h3>Futuro/desiderata</h3>
			<ol>
				<li>manca la possibilità di spostare con quello che c'è connesso un rack element</li>
				<li>spostamento patch</li>
				<li>sostituzione elemento rack mantenendo patch</li>
			</ol>
		</div>
		
		<div>
		<ul>
		<% include credits.ejs %>
		</ul>
		</div>
		
		
	</body>
</html>
