
<div id="dialog-loggedin" class="dialog-loggedin" title="User details">
<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
<div id="logdedInCont">
</div>
</div>